:root {
  --primary-soft-blue: hsl(231, 69%, 60%);
  --primary-soft-red: hsl(0, 94%, 66%);
  --neutral-grayish-blue: hsl(229, 8%, 60%);
  --neutral-very-dark-blue: hsl(229, 31%, 21%);
}
.extensions-container {
  width: 80%;
  max-width: 1400px;
  padding-top: 7rem;
  margin: 0 auto;
}
.extensions-texts-container {
  margin: 5rem 0;
  text-align: center;
}
.extensions-texts-container h2 {
  color: var(--neutral-very-dark-blue);
  font-size: 2rem;
  padding-bottom: 2rem;
}
.extensions-texts-container p {
  font-size: 1.3rem;
  width: 50%;
  line-height: 35px;
  color: var(--neutral-grayish-blue);
  margin: 0 auto;
}
.extensions-cards-container {
  display: flex;
  justify-content: center;
}
.extensions-card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  margin: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 3px 20px rgba(145, 148, 161, 0.2);
}
.extensions-card-item h3 {
  margin-top: 2rem;
  color: var(--neutral-very-dark-blue);
}
.extensions-card-item p {
  margin-top: 1rem;
  color: var(--neutral-grayish-blue);
}
.dots {
  margin-top: 2rem;
  width: 100%;
}
.btn-large {
  padding: 1rem 1.5rem;
  margin-top: 1.5rem;
}
.firefox {
  top: 2.5rem;
  position: relative;
}
.opera {
  top: 5rem;
  position: relative;
}
.card-logo-img {
  transition: all 0.3s;
}
.card-logo-imgfire {
  transition: all 0.3s;
}
.btn-card-item {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--primary-soft-blue);
  box-shadow: 0px 4px 5px rgb(224, 224, 224);
  border: 2px solid var(--primary-soft-blue);
  color: #fff;
  transition: all 0.2s;
  margin-top: 1rem;
  padding: 1rem;
}
.btn-card-item:hover {
  background-color: white;
  color: var(--primary-soft-blue);
  border-color: var(--primary-soft-blue);
}
.extensions-card-item:hover .btn-card-item {
  background-color: white;
  color: var(--primary-soft-blue);
  border-color: var(--primary-soft-blue);
}
.extensions-card-item:hover .btn-primary {
  background-color: white;
  color: var(--primary-soft-blue);
  border-color: var(--primary-soft-blue);
}
.extensions-card-item:hover {
  transform: scale(1.1);
}
.extensions-card-item:hover .card-logo-imgfire {
  transform: rotate(30deg);
}
.extensions-card-item:hover .card-logo-img {
  transform: rotate(180deg);
}
@media only screen and (max-width: 1024px) {
  .extensions-container {
    padding-top: 12rem;
  }
  .extensions-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .extensions-texts-container p {
    width: 80%;
  }
  .extensions-card-item {
    margin: 1rem auto;
  }
  .firefox {
    top: 0;
  }
  .opera {
    top: 0;
  }
}
@media only screen and (max-width: 425px) {
  .extensions-texts-container p {
    font-size: 1.2rem;
    line-height: 25px;
    width: 85%;
  }
}
