.extensions {
  width: 80%;
  max-width: 1400px;
  padding-top: 7rem;
  margin: 0 auto;
}
.extensions__texts {
  margin: 5rem 0;
  text-align: center;
}
.extensions__texts h2 {
  color: var(--neutral-very-dark-blue);
  font-size: 2rem;
  padding-bottom: 2rem;
}
.extensions__texts p {
  font-size: 1.3rem;
  width: 50%;
  line-height: 35px;
  color: var(--neutral-grayish-blue);
  margin: 0 auto;
}
.extensions__cards {
  display: flex;
  justify-content: center;
}
.extensions__cards__card {
  position: relative;
}
.extensions__cards__card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  margin: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 3px 20px rgba(145, 148, 161, 0.2);
}
.extensions__cards__card__content img {
  transition: all 0.3s;
}
.extensions__cards__card__content h3 {
  margin-top: 2rem;
  color: var(--neutral-very-dark-blue);
}
.extensions__cards__card__content p {
  margin-top: 1rem;
  color: var(--neutral-grayish-blue);
}
.dots {
  margin-top: 2rem;
  width: 100%;
}
.extensions__cards__card__content__btn {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--primary-soft-blue);
  box-shadow: 0px 4px 5px rgb(224, 224, 224);
  border: 2px solid var(--primary-soft-blue);
  color: #fff;
  transition: all 0.2s;
  margin-top: 1rem;
  padding: 0.5rem;
  width: 90%;
}
.extensions__cards__card__content__btn:hover {
  background-color: white;
  color: var(--primary-soft-blue);
  border-color: var(--primary-soft-blue);
}
.extensions__cards__card__content:hover .extensions__cards__card__content__btn {
  background-color: white;
  color: var(--primary-soft-blue);
  border-color: var(--primary-soft-blue);
}
.extensions__cards__card__content:hover .btn-primary {
  background-color: white;
  color: var(--primary-soft-blue);
  border-color: var(--primary-soft-blue);
}
.extensions__cards__card__content:hover {
  transform: scale(1.1);
}
.extensions__cards__card__content:hover .card-logo-imgfire {
  transform: rotate(30deg);
}
.extensions__cards__card__content:hover .card-logo-img {
  transform: rotate(180deg);
}
@media only screen and (max-width: 1024px) {
  .extensions {
    padding-top: 12rem;
  }
  .extensions__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .extensions__texts p {
    width: 80%;
  }
  .extensions__cards__card__content {
    margin: 1rem auto;
  }
  .firefox {
    top: 0;
  }
  .opera {
    top: 0;
  }
}
@media only screen and (max-width: 425px) {
  .extensions__texts p {
    font-size: 1.2rem;
    line-height: 25px;
    width: 85%;
  }
}
