.footer {
  background-color: var(--primary-soft-blue);
  color: white;
  height: 100%;
}
.footer__content {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}
.footer__content p {
  letter-spacing: 5px;
  font-weight: 700;
}
.footer__content h2 {
  margin-top: 3rem;
  font-size: 2.5rem;
}
.footer__content form {
  margin-top: 3rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer__content input {
  padding: 0 8rem 0 1rem;
  height: 54px;
  color: var(--neutral-grayish-blue);
  border: 2px solid white;
  border-radius: 5px;
  margin-right: 1.5rem;
  outline: none;
  z-index: 10;
}

.footer__content__submitBTN {
  background-color: var(--primary-soft-red);
  color: white;
  border: 2px solid var(--primary-soft-red);
  padding: 0 2rem;
  height: 54px;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: 700;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.2s;
}
.footer__content__submitBTN:hover {
  background-color: white;
  color: var(--primary-soft-red);
}
.footer__content input::placeholder {
  color: var(--neutral-grayish-blue);
  font-weight: 700;
  opacity: 0.5;
}

/*      FOOTEST     */

.footest {
  background-color: var(--neutral-very-dark-blue);
  margin-top: 5rem;
}
.footest__content {
  display: flex;
  padding: 2.5rem 0;
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  position: relative;
}
.footest__content__section__items {
  display: flex;
  margin-left: 5rem;
  font-size: 1.1rem;
  letter-spacing: 2px;
}
.footest__content__logo svg {
  transform: scale(1.2);
}
.footest__content__social__items {
  float: right;
  display: flex;
  right: 0;
  position: absolute;
}
.footest__content__section__items__item {
  margin: 0 2rem;
  font-size: 1.2rem;
}
.footest__content__section__items__item span {
  color: white;
  transition: all 0.2s;
}
.footest__content__section__items__item span:hover {
  color: var(--primary-soft-red);
}
.footest__content__section__items__item i {
  color: white;
  transition: all 0.2s;
}
.footest__content__section__items__item i:hover {
  color: var(--primary-soft-red);
}
.num-span {
  animation: counter 5s forwards ease;
  counter-reset: num1 var(--num1);
}
.num-span::after {
  content: counter(num1);
}

@property --num1 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
@keyframes counter {
  from {
    --num1: 0;
  }
  to {
    --num1: 35000;
  }
}
@media only screen and (max-width: 1024px) {
  .footest__content__section__items {
    margin-left: 4rem;
  }
  .footest__content__section__items__item {
    margin: 0 1rem;
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 768px) {
  .footest__content {
    flex-direction: column;
  }
  .footest__content__logo {
    padding-bottom: 1rem;
  }
  .footest__content__section__items {
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: 0;
    letter-spacing: 2px;
  }
  .footest__content__section__items__item {
    margin: 1rem 0;
  }
  .footest__content__social__items {
    margin-top: 2rem;
    position: relative;
  }
  .footest__content__section__items__item {
    margin: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .footer__content form {
    display: flex;
    flex-direction: column;
  }
  .footer__content input {
    width: 100%;
    height: 50px;
  }
  .footer__content button {
    height: 50px;
    margin-top: 1.5rem;
    letter-spacing: 1px;
  }
  .footer__content h2 {
    font-size: 2.3rem;
  }
  .footer__content input {
    margin-right: 0;
  }
}
