.hidden {
  display: none;
  visibility: hidden;
}

.header {
  top: 0;
  position: sticky;
  z-index: 999;
  background-color: rgba(249, 249, 249, 0.98);
}

.header__content {
  max-width: 2000px;
  height: 60px;
  padding: 0 6rem;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header__content__logo img {
  width: 200px;
  align-self: center;
}

.header__content__items__hamburger {
  font-size: 2rem;
  display: none;
  color: black;
}

.header__content__items__container {
  display: flex;
  align-items: center;
}

.header__content__items__container__item {
  margin: 0 2rem;
  letter-spacing: 1px;
  font-weight: 600;
}

@keyframes user-menu {
  from {
    margin-top: -30px;
    opacity: 0;
  }
  to {
    margin-top: -5px;
    opacity: 1;
  }
}
@media screen and (max-width: 960px) {
  .img-logo-white {
    display: block;
  }
  .header__content__items__container {
    opacity: 0;
    display: none;
    width: 100%;
    padding-top: 6rem;
    min-height: 100vh;
    background-color: rgba(37, 43, 70, 0.95);
  }
  .header__content__items__container.activeHeader {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 1;
    left: 0;
    top: 0;
  }
  .header__content__items__container__item {
    position: relative;
    text-align: center;
    padding: 1.5rem 0;
    border-top: 1px solid hsl(230, 18%, 33%);
    width: 80%;
  }

  .header__content__items__container__item button {
    background-color: transparent;
    border: 2px solid white;
    padding: 0.6rem 0;
    width: 100%;
  }
  a {
    color: white !important;
    letter-spacing: 3px;
  }
  a:hover {
    color: var(--primary-soft-red) !important;
  }

  .header__content__logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 30%);
    z-index: 1;
  }

  .header__content__items__hamburger {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 50%);
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10;
  }
  .fa-times {
    color: white;
    transition: all 0.3s;
  }
}
@media screen and (max-width: 350px) {
  .header__content__logo {
    margin-left: -1.5rem;
  }
}
