.questions {
  width: 50%;
  max-width: 800px;
  padding-top: 2rem;
  margin: 10rem auto;
}
.questions__content {
  text-align: center;
}
.questions__content h2 {
  font-size: 2rem;
  color: var(--neutral-very-dark-blue);
}
.questions__content__header {
  margin: 2rem 0;
  color: var(--neutral-grayish-blue);
  font-size: 1.2rem;
  line-height: 30px;
}
.questions__content__item button {
  width: 100%;
  padding: 1.3rem 0;
  background: none;
  border: none;
  text-align: left;
  font-size: 1.2rem;
  color: var(--neutral-very-dark-blue);
  cursor: pointer;
  transition: all 0.2s;
}
.questions__content__item button:hover {
  color: var(--primary-soft-red);
}
.questions__content__item__btn {
  display: flex;
  align-items: center;
  position: relative;
}
.questions__content__item__btn i {
  margin-right: 2rem;
  font-size: 1.2rem;
  color: var(--primary-soft-blue);
  position: absolute;
  right: 0;
  z-index: -1;
}
.questions__content__item__text {
  font-size: 1.2rem;
  color: var(--neutral-grayish-blue);
  line-height: 30px;
  text-align: left;

  overflow: hidden;
  max-height: 0;
  transition: all 0.5s;
}
.opened {
  padding-bottom: 1rem;
  max-height: 250px;
}
.red {
  color: rgb(236, 78, 78) !important;
}
.questions__moreInfo__addBTN {
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.2s;
  background-color: var(--primary-soft-blue);
  box-shadow: 0px 4px 5px rgb(224, 224, 224);
  border: 2px solid var(--primary-soft-blue);
  color: #fff;
  transition: all 0.2s;
  padding: 1.2rem 2rem;
  margin-top: 1rem;
}
.questions__moreInfo__addBTN:hover {
  background-color: white;
  color: var(--primary-soft-blue);
  border: 2px solid var(--primary-soft-blue);
}
.questions__moreInfo {
  width: 150px;
  margin: 0 auto;
  justify-content: center;
}
@media only screen and (max-width: 900px) {
  .questions {
    height: 750px;
  }
}
@media only screen and (max-width: 800px) {
  .questions__content__item button {
    font-size: 1rem;
  }
  .questions__content__item__text {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 700px) {
  .questions {
    width: 80%;
  }
}
@media only screen and (max-width: 425px) {
  .questions {
    width: 100%;
    padding: 1rem;
    height: 700px;
  }
  .questions__content__header {
    font-size: 1.1rem;
    line-height: 25px;
  }
  .questions__content__item button {
    font-size: 0.7rem;
  }
  .questions__content__item__text {
    font-size: 0.8rem;
    line-height: 25px;
  }
  .questions__moreInfo__addBTN {
    font-size: 12px;
  }
}
