:root {
  --primary-soft-blue: hsl(231, 69%, 60%);
  --primary-soft-red: hsl(0, 94%, 66%);
  --neutral-grayish-blue: hsl(229, 8%, 60%);
  --neutral-very-dark-blue: hsl(229, 31%, 21%);
}
.questions-section {
  width: 50%;
  max-width: 800px;
  height: 650px;
  padding-top: 2rem;
  margin: 10rem auto;
}
.questions-texts-container {
  text-align: center;
}
.questions-texts-container h2 {
  font-size: 2rem;
  color: var(--neutral-very-dark-blue);
}
.question-header-text {
  margin: 2rem 0;
  color: var(--neutral-grayish-blue);
  font-size: 1.2rem;
  line-height: 30px;
}
.question-container button {
  width: 100%;
  padding: 1.3rem 0;
  background: none;
  border: none;
  text-align: left;
  font-size: 1.2rem;
  color: var(--neutral-very-dark-blue);
  cursor: pointer;
  transition: all 0.2s;
}
.question-container button:hover {
  color: var(--primary-soft-red);
}
.button-container {
  display: flex;
  align-items: center;
  position: relative;
}
.button-container i {
  margin-right: 2rem;
  font-size: 1.2rem;
  color: var(--primary-soft-blue);
  position: absolute;
  right: 0;
  z-index: -1;
}
.question-text {
  font-size: 1.2rem;
  color: var(--neutral-grayish-blue);
  line-height: 30px;
  text-align: left;

  overflow: hidden;
  max-height: 0;
  transition: all 0.5s;
}
.opened {
  padding-bottom: 1rem;
  max-height: 250px;
}
.red {
  color: rgb(236, 78, 78) !important;
}
.questions-add-btn {
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.2s;
  background-color: var(--primary-soft-blue);
  box-shadow: 0px 4px 5px rgb(224, 224, 224);
  border: 2px solid var(--primary-soft-blue);
  color: #fff;
  transition: all 0.2s;
  padding: 1.2rem 2rem;
  margin-top: 1rem;
}
.questions-add-btn:hover {
  background-color: white;
  color: var(--primary-soft-blue);
  border: 2px solid var(--primary-soft-blue);
}
.moreInfo {
  width: 150px;
  margin: 0 auto;
  justify-content: center;
}
@media only screen and (max-width: 900px) {
  .questions-section {
    height: 750px;
  }
}
@media only screen and (max-width: 800px) {
  .question-container button {
    font-size: 1rem;
  }
  .question-text {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 700px) {
  .questions-section {
    width: 80%;
  }
}
@media only screen and (max-width: 425px) {
  .questions-section {
    width: 100%;
    padding: 1rem;
    height: 700px;
  }
  .question-header-text {
    font-size: 1.1rem;
    line-height: 25px;
  }
  .question-container button {
    font-size: 0.7rem;
  }
  .question-text {
    font-size: 0.8rem;
    line-height: 25px;
  }
  .questions-add-btn {
    font-size: 12px;
  }
}
